<div class="large-centered large-8 columns">
  <h3>My Messages</h3>

  <table>
    <thead>
      <th>Sender</th>
      <th>Subject</th>
      <th>Body</th>
      <th>Reply</th>
    </thead>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.sender.username %></td>
        <td><%= message.subject %></td>
        <td><%= message.body %></td>
        <td><%= link_to "Reply", new_message_path, method: :get %></td>
      </tr>
    <% end %>
  </table>
</div>
