<table>
  <thead>
    <th>Unread</th>
    <th>Sender</th>
    <th>Subject</th>
    <th>Body</th>
  </thead>
  <% @messages.each do |message| %>
    <tr>
      <td><%= message.unread %></td>
      <td><%= message.sender.username %></td>
      <td><%= message.subject %></td>
      <td><%= message.body %></td>
    </tr>
  <% end %>
</table>
