<h1 class="text-center">Welcome to the BookSwapper</h1>
<h2 class="text-center">where all your book swapping dreams become a reality</h2>

<h5><blockquote>"I got hit on by a creepy older man when we exchanged books last week. I'm not really sure how I feel about this app."<cite>Lindsey Scott</cite></blockquote></h5>

<h5><blockquote>"I met up with someone who lives a few blocks away from me, and was able to get the book I've been wanting to read for a long time. That was cool! Until... I realized that sometimes when I look out the window, I see her hiding in a tree, peering at me through binoculars..."<cite>Matthew Pindley</cite></blockquote></h5>
