<h1 class="text-center">Welcome to the BookSwapper</h1>
<h2 class="text-center">where all your book swapping dreams become a reality</h2>
<br><br><br>
 <!-- First Band (Image) -->

  <div class="text-center">
    <div class="row">
      <div class="large-12 columns">
        <img src="http://static.tumblr.com/15f62b472d89ed4f53f74502157f56ff/ee0rgeh/vFsn3ndz9/tumblr_static_tumblr_mhip5rzgkm1s0hnswo1_500.jpg">

          <hr>
        </div>
      </div>
    </div>
  <!-- Second Band (Image Left with Text) -->

  <div class="row">
    <div class="large-4 columns">
      <img src="http://www.theflirtblog.com/wp-content/uploads/2011/01/nopenopenopenope.jpg">
    </div>
    <div class="large-8 columns">
      <h4>Testimonials</h4>
      <div class="row">
        <div class="large-6 columns">
          <p><blockquote>"I got hit on by a creepy older man when we exchanged books last week. I'm not really sure how I feel about this app."<cite>Lindsey Scott</cite></blockquote></p>
        </div>
        <div class="large-6 columns">
          <p><blockquote>"I met up with someone who lives a few blocks away from me, and was able to get the book I've been wanting to read for a long time. That was cool! Until... I realized that sometimes when I look out the window, I see her hiding in a tree, peering at me through binoculars..."<cite>Matthew Pindley</cite></blockquote></p>
        </div>
      </div>
    </div>
  </div>


  <!-- Third Band (Image Right with Text) -->

  <div class="row">
    <div class="large-8 columns">
      <h4>How it works</h4>

      <p>As a book-lender: post a book that you want to lend out.</p>

      <p>As a borrower: search for books that you want. Find books from people who live near you.</p>

      <p>Request the book. Meet up, make friends, and improve your literacy... or in the very least, your personality.</p>

    </div>
    <div class="large-4 columns">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaOx6S6T_gp85J346HiCzyvrU6p05qN84CVpwFiyfdAmh2HmqZ">
    </div>
  </div>
