<h1 class="text-center">Lydia Ho</h1>
<div class="text-center">
<br><br>
<!-- Three-up Content Blocks -->

  <div class="row">
    <div class="large-4 columns">
      <h4>GitHub</h4>
      <h5>github.com/tomatoturnip</h5>
    </div>

    <div class="large-4 columns">
      <h4>LinkedIn</h4>
      <h5>linkedin.com/in/lydiawho</h5>
    </div>

    <div class="large-4 columns">
      <h4>Blog</h4>
      <h5>girltalksincode.tumblr.com/</h5>
    </div>

    </div>
<br><br>
<!-- Call to Action Panel -->
<div class="row">
    <div class="large-12 columns">

      <div class="panel">
        <h4 class="text-center">Contact Me:</h4>

        <div class="row text-center">
          <div class="large-6 columns">
            <h4>lyd.w.ho@gmail.com</h4>
          </div>
          <div class="large-6 columns">
            <h4>408-398-6253</h4>
          </div>
        </div>
      </div>

    </div>
  </div>


