<div class="text-center small-centered large-4 columns">
  <h3>Post a Book</h3>

  <%= simple_form_for @book do |f| %>
    <%= f.input :title, placeholder: "Title", label: false %>
    <%= f.input :author, placeholder: "Author", label: false %>
    <%= f.button :submit, 'submit', class: 'button'%>
  <% end %>
  </div>
</div>
