<h1>Search Results</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Owner</th>
    </tr>
  </thead>

  <tbody>
    <%= @books.each do |book| %>
    <tr>
      <td><%= book.author %></td>
      <td><%= book.title %></td>
      <td><%= %></td>
    </tr>
     <% end %>
  </tbody>
</table>
