<h1>My Lend List</h1>

<table>
  <thead>
      <th>Title</th>
      <th>Author</th>
      <th>Delete Book</th>
  </thead>

  <tbody>
    <% if @books.present? %>
      <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= link_to "Delete", book, method: :delete %></td>
    </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= button_to "add a book", new_lend_book_path, method: :get %>
