<h1>My Lender List</h1>

<table>
  <thead>
      <th>Title</th>
      <th>Author</th>
      <th>Delete Book</th>
  </thead>

  <tbody>
      <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= link_to "Delete", lend_book_path(id: @lend_book.id), method: :delete %></td>
    </tr>
      <% end %>
  </tbody>
</table>
<%= button_to "add a book", new_lend_book_path, method: :get %>
