<div class="text-center small-centered large-4 columns">
  <h3>Post a Book</h3><br><br>

  <%= simple_form_for @book do |f| %>
  <div class="large-4 columns">
    <%= f.input :title %>
    <%= f.input :author %>
    <%= f.button :submit, 'submit' %>
  <% end %>
  </div>
</div>
