<div class="text-center small-centered large-4 columns">
  <%= form_tag locations_path, :method => :get do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search Near", :name => nil %>
    </p>
  <% end %>
</div>

