<!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright BookSwapper</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="pages#index"><i class="fi-heart"></i></a></li>
            <li><a href="https://github.com/tomatoturnip"><i class="fi-social-github"></i></a></li>
            <li><a href="http://girltalksincode.tumblr.com/"><i class="fi-social-tumblr"></i></a></li>
            <li><a href="https://twitter.com/Lydia_h0"><i class="fi-social-twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
